:root {
  --oswald-font: "Oswald", sans-serif;
  --tube-font: "Roboto", sans-serif;
  --millwall-blue: #00194a;
  --background-black: #000;
  --font-white: #fff;
  --tubefont-color: #1c3f95;
  --jubilee-grey: #959ca1;
  --overground-orange: #f58026;
}
