/* parallax components styles */
.parallax-container {
  position: relative;
  display: grid;
  background-color: var(--background-black);
  grid-column: full-start / full-end;
  margin: 0 0.5rem;
  @media screen and (min-width: 1024px) {
    grid-column: content-start / content-end;
    margin: 0;
  }
}

.parallax-sticky {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 70vh 30vh;
}

.zampa-background {
  grid-row: 1 /2;
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 70vh;
  /* initial transform properties */
  transform: scale3d(1, 1, 1);
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.9)),
    url("../img/zampa-road.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.stadium-background {
  grid-row: 1 /2;
  width: 100%;
  height: 70vh;
  /* initial transform properties */
  transform: scale3d(1, 1, 1);
  background-image: url("../img/stadium-drawing.png");
  background-position: 50% 50%;
  background-size: 80vh;
  background-repeat: no-repeat;
}

.parallax-text {
  grid-row: 2 /3;
  display: grid;
  grid-template-columns: [par-title-start] min-content [par-title-end] 1fr [par-mouse-start] min-content [par-mouse-end];
  grid-template-rows: 1fr;
  place-items: center;
}

.parallax-title {
  grid-column: par-title-start / par-title-end;
  /* initially hide the title */
  opacity: 0;
  z-index: 3;
}

.parallax-mouse {
  grid-column: par-mouse-start / par-mouse-end;
  border: white solid 2px;
  position: relative;
  z-index: 3;
  width: 6.5rem;
  height: 7.5rem;
  border-radius: 16px;

  @media (min-width: 321px) and (max-width: 360px) {
    width: 7.5rem;
    height: 8.5rem;
    border-radius: 17.25px;
  }

  @media (min-width: 361px) and (max-width: 375px) {
    width: 8rem;
    height: 9rem;
    border-radius: 18.5px;
  }

  @media (min-width: 376px) and (max-width: 414px) {
    width: 8.5rem;
    height: 9.5rem;
    border-radius: 19.75px;
  }

  @media (min-width: 415px) and (max-width: 768px) {
    width: 9rem;
    height: 10rem;
    border-radius: 20px;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    width: 9.5rem;
    height: 10.5rem;
    border-radius: 21.25px;
  }

  @media (min-width: 1025px) and (max-width: 1366px) {
    width: 10.5rem;
    height: 11.5rem;
    border-radius: 22.5px;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    width: 11.5rem;
    height: 12.5rem;
    border-radius: 23.75px;
  }

  @media (min-width: 1920px) and (max-width: 2560px) {
    width: 12.5rem;
    height: 13.5rem;
    border-radius: 25px;
  }

  @media (min-width: 2561px) and (max-width: 3440px) {
    width: 14.5rem;
    height: 15.5rem;
    border-radius: 26.25px;
  }

  @media (min-width: 3441px) {
    width: 16.5rem;
    height: 17.5rem;
    border-radius: 27.5px;
  }
}
.parallax-mouse__slider {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 20%;
  background-color: white;
  transition: top 0.5s ease;
}

.ilderton-road {
  grid-column: content-start / content-end;
  grid-row: 2 / 3;
  width: 100%;
  height: auto; /* Allow the image to scale proportionally */
}
