/* Drawing Progression component styles */
.ilderton-drawing__container {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 80vh 50vh 20vh;
  height: 100vh;
}

.ilderton-text {
  grid-row: 1 /2;
  margin: 0 0.5rem;
  align-self: center;
  z-index: 3;
}

.ilderton-title {
  /* initially hide the title */
  opacity: 0;
  z-index: 3;
}

.se-postcode__button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.se-postcode__image {
  width: 30rem;
  transition: all 0.5s;
}

.se-postcode__image:hover {
  transform: scale(1.1);
}

.bakerloo-image__container {
  grid-row: 3 /4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* For img elements, overlays are always provided on the parent container */
.bakerloo-image__container::after {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
}

.tube-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: tubeMoving 1s ease-in-out infinite;
}
@keyframes tubeMoving {
  0% {
    transform: translateX(0);
  }
  25% {
    /* translate to the left and a bit clockwise */
    transform: translateX(-2px) rotate(2deg);
  }
  50% {
    /* reverse previous step */
    transform: translateX(2px) rotate(-2deg);
  }
  75% {
    transform: translateX(-3px) rotate(3deg);
  }
  100% {
    transform: translateX(0);
  }
}

.tube-lighting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: flickerLighting 2s infinite alternate,
    tubeMoving 1s ease-in-out infinite;
}

@keyframes flickerLighting {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    /* drop-shadow(x, y, blur) */
    filter: drop-shadow(0 1vw 1vw #e2e4c2) drop-shadow(0 1vw 1vw #c4ca8b);
  }
  10%,
  14%,
  80%,
  82% {
    /* to make it flicker. (turning drop-shadow on and off) */
    filter: none;
  }
}

.tube-map__content {
  background-color: var(--font-white);
  grid-row: 4 / 5;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100%;
  width: 100vw;
}

.tube-map__disabled {
  width: 3rem;
  height: auto;
}

.tube-map__boat {
  width: 4.5rem;
  height: auto;
}

.tube-map__br {
  width: 2rem;
  height: auto;
}
