/* Parallax components styles */
.parallax-container {
  position: sticky;
  top: 0px;
  overflow: hidden;
  background-color: var(--background-black);
  grid-column: full-start / full-end;
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-rows: 20vh 50vh;
}

.scrolling-mouse {
  border: white solid 2px;
  position: relative;
  z-index: 3;
  width: 6rem;
  height: 8rem;
  border-radius: 16px;
  display: flex;
  justify-self: center;
  align-self: start;
  margin-top: 3rem;
}

.scrolling-mouse__slider {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 20%;
  background-color: white;
  transition: top 0.5s ease;
}

.zampa-background {
  grid-row: 2 /3;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50vh;
  /* initial transform properties */
  transform: scale3d(1, 1, 1);
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url("../img/zampa-road-mobile.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.stadium-background {
  grid-row: 2 /3;
  position: absolute;
  width: 100%;
  /* initial transform properties */
  transform: scale3d(1, 1, 1);
  background-image: url("../img/stadium-drawing.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 50vh;
  background-size: 25rem;
}
