@media only screen and (min-width: 20rem) {
  .stadium-background {
    background-size: clamp(30rem, calc(35vw + 10px), 40rem);
  }
}

@media only screen and (min-width: 27rem) {
  .parallax-container {
    height: 60vh;
    grid-template-rows: 10vh 50vh;
  }
  .stadium-background {
    background-size: clamp(50rem, calc(45vw + 10px), 70rem);
  }
  .drawing-click__container {
    grid-template-rows: 30vh repeat(2, 1fr);
  }
  .ilderton-text {
    margin: 0 3rem;
  }
  .ilderton-title {
    font-size: 6rem;
  }
  .paragraph-text {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 50rem) {
  .parallax-container {
    height: 80vh;
    grid-template-rows: 10vh 70vh;
  }
  .stadium-background {
    background-size: clamp(70rem, calc(50vw + 100px), 80rem);
    height: 70vh;
    top: 0;
  }
  .zampa-background {
    height: 70vh;
    top: 0;
  }
  .ilderton-text {
    margin: 0 4rem;
  }
  .ilderton-title {
    font-size: 7rem;
  }
  .paragraph-text {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 70rem) {
  .parallax-container {
    grid-template-rows: 10vh 100vh;
    grid-column: content-start / content-end;
    height: 150vh;
  }
  .stadium-background {
    background-size: clamp(80rem, calc(60vh + 100px), 90rem);
    height: 100vh;
    top: 0;
  }
  .zampa-background {
    height: 100vh;
    top: 0;
  }
  .ilderton-text {
    margin: 0;
  }
  .ilderton-title {
    font-size: 8rem;
  }
  .paragraph-text {
    font-size: 3.5rem;
  }
  .drawing-click__container {
    grid-column: content-start / content-end;
    margin: 0;
  }
  .bakerloo-image__container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 100%;
  }
}
@media only screen and (min-width: 100rem) {
  .stadium-background {
    grid-row: 1 /2;
    background-size: clamp(80rem, calc(75vh + 200px), 100rem);
  }
  .zampa-background {
    grid-row: 1 /2;
    background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
      url("../img/zampa-road.png");
  }
  .drawing-click__container {
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content 100vh min-content 100vh;
  }
  .ilderton-title {
    font-size: 9rem;
  }
  .paragraph-text {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 140rem) {
  .stadium-background {
    background-size: clamp(100rem, calc(90vh + 300px), 300rem);
  }
}
