@media only screen and (min-width: 20rem) {
  .stadium-background {
    background-size: clamp(30rem, calc(40vw + 10px), 50rem);
  }
}

@media only screen and (min-width: 27rem) {
  .stadium-background {
    background-size: clamp(55rem, calc(45vw + 10px), 65rem);
  }
  .drawing-click__container {
    grid-template-rows: 30vh repeat(2, 1fr);
  }
  .ilderton-text {
    margin: 0 3rem;
  }
  .ilderton-title {
    font-size: 6rem;
  }
  .paragraph-text {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 50rem) {
  .stadium-background {
    background-size: clamp(65rem, calc(50vw + 10px), 70rem);
  }
  .ilderton-text {
    margin: 0 4rem;
  }
  .ilderton-title {
    font-size: 7rem;
  }
  .paragraph-text {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 65rem) {
  .stadium-background {
    background-size: clamp(65rem, calc(50vw + 10px), 70rem);
  }
  .stadium-background {
    background-size: clamp(45rem, calc(60vh + 100px), 80rem);
  }
  .zampa-background {
    background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
      url("../img/zampa-road.png");
  }
  .ilderton-text {
    margin: 0 5rem;
  }
  .ilderton-title {
    font-size: 8rem;
  }
  .paragraph-text {
    font-size: 3.5rem;
  }
  .drawing-click__container {
    grid-column: content-start / content-end;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .bakerloo-image__container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 100%;
  }
}
@media only screen and (min-width: 140rem) {
  .stadium-background {
    background-size: clamp(80rem, calc(80vh + 100px), 100rem);
  }
  .ilderton-text {
    margin: 0 6rem;
  }
  .ilderton-title {
    font-size: 9rem;
  }
  .paragraph-text {
    font-size: 4rem;
  }
}
