.heading-1 {
  font-size: 4rem;
  line-height: 1.1;
}

.paragraph-text {
  font-size: 1.5rem;
  line-height: 1.6;
}

.tube-map__text {
  font-size: 1.2rem;
  line-height: 1.2;
  font-family: var(--tube-font);
  color: var(--tubefont-color);
}
